@import url('./../../styles/index.scss');

.content {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.navigation {
  width: 64px;
  height: 100%;
  background: #FBFBFB;
  border-right: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.navigation__button {
  background-color: inherit;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  transition: .3s;
}

.navigation__button:hover {
  opacity: .8;
}

.navigation__button:active {
  margin-right: 25px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.profile__image-container {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  cursor: pointer;
  position: relative;
}

.profile__image {
  object-fit: cover;
}

.profile__image-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transition: all .5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.3);
  opacity: 0;
}

.profile__image-button:hover {
  opacity: 1;
}

.profile__image-text {
  display: block;
  width: 64px;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.profile__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #1E1E1E;
  margin-top: 21px;
}

.profile__form {
  margin-top: 60px;
  width: 510px;
}

.profile__form-group {
  width: 100%;
  border-bottom: 1px solid #EAEAEA;
  min-height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__form-group:last-of-type {
  border-bottom: none;
}

.profile__label {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1E1E1E;
  display: block;
  width: 35%;
  margin: 10px 0;
}

.profile__input {
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  color: #999999;
  display: block;
  border: none;
  width: 65%;
  outline: none;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: #fff;
}

.profile__links {
  list-style: none;
  width: 510px;
  margin-top: 60px;
}

.profile__link-item {
  border-bottom: 1px solid #EAEAEA;
  padding: 10px 0;
}

.profile__link-item:last-of-type {
  border-bottom: none;
}

.profile__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #3369F3;
  text-decoration: none;
}

.profile__link_type_exit {
  color: #FF0000;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #fff;
  width: 280px;
  height: 37px;
  background: #3369F3;
  border-radius: 8px;
  display: block;
  margin: 154px auto 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgb(3, 87, 176);
}

.button:active {
  padding: 2px 0 0 0;
}

.button_type_change-info {
  margin-top: 60px;
}

.button_type_change-password {
  margin-top: 162px;
}

.profile__form_type_change-info {
  margin-top: 97px;
}

.profile__input_type_change-password {
  width: 65%;
}

.profile__label_type_change-password {
  width: 35%;
}