@import url('./../../styles/index.scss');

.error {
  width: 100%;
  height: 100%;
  padding: 280px;
}

.error__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #1E1E1E;
}

.error__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #1E1E1E;
  margin-top: 20px;
}

.error__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: #3369F3;
  text-decoration: none;
  margin-top: 69px;
  display: block;
}